@media screen and (max-width: 560px) {
  header {
    padding-block-start: 0;
    padding-block-end: 0;
  }
  .header-right {
    inline-size: 100%;
    justify-content: space-between;
  }

  .title-overview {
    margin-block-start: 0 !important;
  }

  .header-left ~ hr {
    display: block;
  }

  .wrapper {
    padding: 1.5rem;
  }

  .list-overviews,
  .list-followers {
    grid-template-columns: 1fr;
  }
}